################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectApp/v16/Server/sqlite3
/.vs/ProjectApp/config
/bin/Debug/netcoreapp3.1
/obj
bower_components/*
