@{
    ViewData["Title"] = "Home Page";
}

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">Dashboard</div>
    <div class="tab-pane fade show active" id="admin" role="tabpanel" aria-labelledby="admin-tab">
        <br />

        <fieldset class="border">
            <legend class='text-left' id="legend1">Step 1: Choose Frequency and Period Trust Source</legend>
            <div class="row">
                <div id="admin-content">
                    <div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <label>Choose a frequency: </label>
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <div class="form-radio-buttons">
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradio" checked>Monthly
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradio">Quaterly
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradio">Yearly
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-check-inline">
                            <label class="form-check-label">
                                Choose a Period:
                            </label>
                        </div>
                        <div class="form-check-inline">
                                <select class="form-control" id="sel1">
                                    <option>January 2020</option>
                                    <option>Feb 2020</option>
                                    <option>March 2020</option>
                                    <option>April 2020</option>
                                </select>
                        </div>
                    </div>

                </div>
            </div>
            <br />
        </fieldset>
        <fieldset class="border">
            <legend class='text-left' id="legend2">Step 2: Upload FHFA File</legend>
            <div id="admin-content-2">
               Datatable will be here....
            </div>
            <br />
        </fieldset>
    </div>

</div>